<%- include('partials/header', { title: 'Welcome to OLDR', user: user }) %>

<div class="alert alert-success">
  Welcome to OLDR, the chat service for the elderly, <strong><%= user.firstname %> <%= user.lastname %></strong>!
</div>

<!-- Future chat functionalities can be added here -->

<%- include('partials/footer') %>
